


<div class="weather-sec mt-5">
    <div class="weather-input-box text-center">
        <input type="text" class="form-control" id="weatherCity" placeholder="Enter city">
        <button class="btn btn-primary mt-3" id="SubmitBtn">Submit</button>
    </div>

    <div class="temp-layout">
        <div class="tmp-header">
            <span id="temp-day">Day</span>
            <span id="temp-date">Date</span>
        </div>

        <p class="city-name" id="cityOutput"></p>

        <div class="temp-dec">
            <div class="temp">
                <span id="temp-value"></span>
                <sup>o</sup>
                <span>C</span>
            </div>

            <div class="temp-status">
                <span class="fa fa-cloud"></span>
            </div>
        </div>
         
    </div>
</div>